@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background_video_container {
    width: 100%;
    height: 500px;
    position: absolute;
}

.background_video_color_gradient {
    background-image: linear-gradient(270deg, #0000, #16284521 28%, #1e293b 75%);
    height: 500px;
    width: 100%;
    position: relative;
}

.background_text_video_container {
    position: absolute;
    width: 100%;
    height: 500px;
}

.nxt_title {
    padding: 12px;
}

.title_paragraph_element {
    color: white;
    margin-left: 125px;
}

.title_paragraph_with_image {
    font-size: 24px;
    color: white;
    font-family: Roboto;
    padding: 12px;
}

.title_paragraph_with_image_spam {
    color: #a3e635;
}

.button_claim_free_access {
    width: 250px;
}

.button_watch_trailer {
    width: 250px;
    color: white;
    border-color: white;
    background-color: transparent;
}

.get_product_paragraph {
    color: white;
    font-family: Roboto;
    font-size: 19px;
}

.get_product_spam {
    color: #a3e635;
}

.get_product_spam_2000 {
    text-decoration: line-through;
    color: #db675c;
}

.container2_head_paragraph {
    font-family: Roboto;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 12px;
    margin-top: 24px;
}

.background_container2 {
    width: 100%;
    height: 500px;
    background-color: #0f172a;
    margin-left: 8px;
}

.container2_image {
    height: 70px;
}

.background_container5 {
    width: 100%;
    height: 600px;
    background-image: url("https://cdn.prod.website-files.com/64362e90abbff481a6d25ce8/64362e90abbff4afbdd25fa0_Frame%201000003071.png");
    background-size: cover;
    margin-left: 8px;
    color: white;
}

.container5_heading {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    padding: 24px;
}

.container5_paragraph {
    font-size: 100%;
    margin-top: 24px;
}

.background_container6 {
    background-color: #0f172a;
    margin-left: 8px;
    padding: 24px;
    height: 350px;
}

.background_container6_paragraph {
    font-size: 15px;
    padding: 24px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
}

.container6_paragraph {
    font-size: 36px;
    width: 100%;
}

.container6_get_otp_button {
    width: 100%;
    margin-top: 24px;
}

.container6_heading_stylings {
    color: white;
}

.container6_heading_input {
    background-color: rgb(51, 65, 85);
}

.background_container7 {
    width: 100%;
    text-align: center;
    background-color: #1e293b;
    color: white;
    margin-left: 8px;
}


.treanding_button {
    width: 100%;
}

.container7_carousel_elements {
    width: 30%;
    background-color: #334155;
    text-align: left;
    color: white;
    padding: 12px;

}

.container7_buttons_container {
    overflow-x: auto;
    margin-top: 40px;
}

.container7_heading {
    font-family: Roboto;
    margin-top: 40px;
}

.container7_paragraph {
    font-family: Roboto;
    margin-top: 40px;
    color: #cbd5e1;
}

.container7_buttons {
    background-color: #1e293b;
    color: white;
    border-color: white;
    font-family: Roboto;
    border-radius: 24px;
    border-width: 1px;
    margin-left: 12px;
}

.container7_carosel {
    margin-top: 40px;
    overflow-x: auto;
}

.container7_carosel_texts {
    text-align: left;
    padding: 12px;
    font-size: 100%;
    margin-bottom: 75px;

}

.container7_carosel_indiual {
    background-color: #334155;
    border-radius: 12px;
    width: 100%;
    margin-left: 24px;
}

.background_container8 {
    background-color: #0f172a;
    color: white;
    text-align: center;
    width: 100%;
    margin-left: 8px;
    height: 700px;
    padding: 24px;
}

.container8_main_heading {
    font-size: 40px;
    font-weight: bold;
    font-family: Roboto;
}

.container8_emoji_text {
    background-color: #713f1230;
    color: #f59e0b;
    border-width: 2px;
    border-color: #713f12;
    border-style: solid;
    border-radius: 33px;
    width: 275px;


}

.container8_emoji_text_paragraph {
    font-size: 100%;
    margin-top: 12px;
    margin-left: 12px;
}

.container8_carousel {
    background-color: #1e293b;
    border-radius: 12px;
    width: 80%;
    margin-left: 10%;
    margin-top: 48px;

}

.container8_carousel_heading {
    font-size: 100%;
    padding: 12px;
}

.background_container9 {
    background-image: url("https://cdn.prod.website-files.com/64362e90abbff481a6d25ce8/64362e90abbff4afbdd25fa0_Frame%201000003071.png");
    width: 100%;
    height: 100px;
    background-size: cover;
    margin-left: 8px;
    color: white;
}

.background_container9_heading {
    padding: 36px;
    font-size: 100%;
}

.background_container10 {
    background-color: #0f172a;
    width: 100%;
    margin-left: 8px;
    color: #5a7184;
    font-size: 24px;
}

.container10_title {
    color: #5a7184;
    font-size: 100%;
}

.container10_agreements {
    font-size: 50%;
    color: #5a7184;
    margin-left: 10px;
}

.container10_agreements_first {
    font-size: 50%;
    color: #5a7184;

}

.container10_hr {
    height: 2px;
    border-width: 0;
    color: #5a7184;
    background-color: #5a7184;
}